<div class="container contact-content animated slideInLeft">
    <p>
        Need a Software Developer?<br> Contact me!
    </p>
    <ul>
        <li><a href="#" class="fa fa-facebook social-icon"></a></li>
        <li><a href="#" class="fa fa-twitter social-icon"></a></li>
        <li><a href="https://www.linkedin.com/in/sabelo-shabalala-409081150/" class="fa fa-linkedin social-icon"></a></li>
        <li><a href="#" class="fa fa-skype social-icon"></a></li>
        <li><a href="#" class="fa fa-google social-icon"></a></li>
    </ul>

    <div style="padding-top: 10%;">
        <button class="btn btn-full" (click)="returnHome()">
            <i class="fa fa-arrow-left">Go back home</i></button>
    </div>
</div>