div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    font-family: 'Flamenco', cursive;
    font-weight: 30px;
    font-size: 20px;
    text-transform: uppercase;
}

.container{
    padding-top: 10%;
}


.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
    float: right;
  }

  .btn-full{
    background-color: transparent;
    color: #bf55ec;
    margin-right: 15px;
    border: 1px solid #bf55ec;
  }
  
  .btn-full:hover{
    background-color: #fff;
  }

  .inner-content{
      margin-left: 35%;
  }

  a{
    cursor: pointer;
  }