<header>
  <nav>
    <div class="row clearfix">
      <img src="src/assets/images/logo1.jpg" class="logo">

      <ul class="main-nav animated slideInDown" id="check-class">
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Portfolio</a>
        </li>
      </ul>

      <a class="mobile-icon" (click)="slideshow()"><i class="fa fa-bars"></i></a>
    </div>
  </nav>
  <div class="main-content-header">
    <div style="color: white; font-family: 'Flamenco', cursive;">
      <h1>FULL STACK WEB
        <span class="colorchange">DEVELOPER</span>
      </h1>
    </div>
    <a href="#" class="btn btn-full">About Sabelo</a>
    <a href="#" class="btn btn-nav">View Skills</a>
  </div>
</header>